* {
  border: 1px solid balck;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background-color: #99e9c8; */
  color: black;
}
a {
  color: black;
}
hr {
  margin-bottom: 0;
}
/* nav */
nav {
  height: 5vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(153, 226, 233, 0); */
  font-size: x-large;
  z-index: 1;
  color: black;
}
nav a {
  padding-left: 1rem;
}
i.fas.fa-bars {
  /* border: 1px solid black; */
  padding: 2px;
  border-radius: 20%;
}

/* The Overlay */

.overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: white; /* fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.overlay hr {
  margin: 0;
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 12%; /* 25% from the top */
  width: 100%; /* 100% width */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: large;
  color: black;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  right: 20px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.tabs p {
  font-size: x-large;
  margin: 0;
}
/* endnav */
/* splash */
.splash-img {
  /* background-attachment: fixed; */
  background-image: url("/assetts/melanie-pongratz-694890-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: goldenrod; */
  background-position: center;
  height: 27vh;
  width: 90vw;
  margin: auto;
}
#splash h1 {
  text-align: left;
  padding-left: 1rem;
}
section h1 {
  display: block;
  margin-block-start: 0.8em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  letter-spacing: -0.075rem;
  font-size: 2.5rem;
  line-height: 2.625rem;
}

/* end splash */
section {
  height: 100vh;
  text-align: center;
  padding-top: 5vh;
  text-align: center;
}
.story h1,
.story p {
  text-align: left;
  padding: 0 3vh;
  font-weight: 100;
}
.story p {
  font-size: larger;
}
section a {
  font-size: xx-large;
  /* position: absolute; */
  /* bottom: 0; */
}
.story-img {
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin: 5vh; */
}
.story-img.one {
  background-image: url(/assetts/christian-wiediger-606395-unsplash.jpg);
}
.story-img.two {
  background-image: url(/assetts/iceline.jpg);
}
.story-img.three {
  background-image: url(/assetts/kendyle-nelsen-236473-unsplash.jpg);
}

/* mailchimp form */

#mc_embed_signup {
  border-radius: 30px;
  margin: 1rem;
  width: -webkit-fill-available;
  background-color: #d3d3d3;
  box-shadow: 0px 0px 10px 1px;
  /* height: 100vh; */
}
#mc_embed_signup form {
  padding: 2rem !important;
}
#mc_embed_signup .mc-field-group input {
  border: none;
  border-bottom: 2px solid grey;
  background-color: #d3d3d3;
}
#mc_embed_signup .button {
  background-color: dimgray !important;
  border-radius: 20px !important;
}
#mc_embed_signup .mc-field-group input {
  text-indent: 0% !important;
  padding: 8px 0px 0px 0px !important;
}
#mc_embed_signup .clear {
  clear: both;
  text-align: center;
  padding-top: 2vh;
}

/* end mailchimp form */
/* download */
section#download {
  height: 103vh;
}
#download h1 {
  font-size: xx-large;
  margin: auto;
}
#download .clear {
  text-align: center;
}
#download .button {
  border: 1px solid black;
  margin: auto;
  border-radius: 20px;
  color: white;
  background-color: dimgray;
}
.icons {
  border: 2px solid black;
  border-radius: 100%;
  color: black;
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  margin: auto;
  padding: 3px;
}
/* end download */
/* appstore links  */
a img {
  width: 40%;
  clear: both;
  margin: 0 3em;
}
#download .row {
  display: inline-flex;
}
.app-link {
  height: 5em;
  width: 5em;
  margin: 0 1em;
}
/* end appstore links */
/* footer */
footer .row {
  margin: 1em 1em 0 1em;
}
footer a {
  font-size: medium;
  padding: 1em;
}
/* end footer */
